// Color cube
$mv-White: #fefefe;
$mv-Lima: #69bf14;
$mv-Denim-light: #1975c0;
$mv-Silver-Chalice: #afaeae;
$mv-Shark: #262727;
$mv-Dove-Gray: #6b6b6b;
$mv-Sunglo: #dd7069;

// Median cut
$mv-Hippie-Green: #4c8d53;
$mv-Mercury: #e9e9e9;
$mv-Barley-Corn: #9ba05a;
$mv-Beaver: #86695a;
$mv-Oslo-Gray: #93989b;

// Material design
$mv-Denim: #1674c3;
$mv-River-Bed: #4d596a;
$mv-Lima-light: #6bbb14;
$mv-Shark-dark: #29262f;
$mv-Mantis: #8fce53;